/.vscode/
/.idea/
/old/
/javascript/
/javascript/node_modules/
log.txt
/bin/log.txt
/src/currentmap.png
/bin/currentmap.png
currentmap.png
/src/debug.ahk
/src/mapconfig.ini
/src/GameSessionLog.csv
/src/d2r-map3.ahk
/src/*.wav